{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="login-page">
            <div class="login-content">
                <h1 class="login-title">{% trans "Login" %}</h1>
                <form class="login-form" method="post" action="{% url 'Login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary {% block button_class %}{% endblock %}">
                            {% block button_text %} {% trans "Accept" %} {% endblock %}
                        </button>
                    {% endbuttons %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="login-extras">
                    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
                    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
