{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="pass-change-form">
             <div class="pass-reset-content">
                <h1 class="pass-reset-title">{% trans "Password Change" %}</h1>
                 <form method="post" action="">
                  {% csrf_token %}
                  {% bootstrap_form  form layout='inline' %}

                  <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
                </form>
             </div>
        </div>
    </div>
{% endblock %}
