{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-6 col-md-offset-3">
        <div class="registrer-page">
            <div class="registrer">
                <h1 class="register-title">{% trans "Register" %}</h1>
                <form class="register-form" method="post" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary" type="submit" >{% trans 'Submit' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
