{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}


{% block content %}

    <h1 class="page-header">{% trans "Mi Perfil" %}</h1>
    <div class="row">
        <div class="col-sm-4">
            <div>
                <strong>{% trans "Name:" %}</strong>
                <span>{{ object.name }}</span>
            </div>
            <div>
                <strong>{% trans "Last Name:" %}</strong>
                <span>{{ object.last_name }}</span>
            </div>
            <div>
                <strong>{% trans "Gender:" %}</strong>
                <span>{{ object.gender }}</span>
            </div>
            <div>
                <strong>{% trans "Born Date:" %}</strong>
                <span>{{ object.born_date }}</span>
            </div>
            <div>
                <strong>{% trans "Nationality:" %}</strong>
                <span>{{ object.Nationality }}</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <strong>{% trans "Institution:" %}</strong>
                <span>{{ object.institution }}</span>
            </div>
            <div>
                <strong>{% trans "Identification:" %}</strong>
                <span>{{ object.identification }}</span>
            </div>
            <div>
                <strong>{% trans "Alimentary Restriction:" %}</strong>
                <span>{{ object.alimentary_restriction }}</span>
            </div>
            <div>
                <strong>{% trans "Health Consideration:" %}</strong>
                <span>{{ object.health_consideration }}</span>
            </div>
            <div>
                <strong>{% trans "Snore:" %}</strong>
                <span>{% if object.snore %}
                    {% trans "Yes" %}
                {% else %}
                    {% trans "No" %}
                {% endif %}
                </span>
            </div>
            <div>
                <strong>{% trans "Letter:" %}</strong>
                <span>{{ object.letter }}</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <strong>{% trans "Entry Country:" %}</strong>
                <span>{{ object.entry_country }}</span>
            </div>
            <div>
                <strong>{% trans "Out Country:" %}</strong>
                <span>{{ object.out_country }}</span>
            </div>
            <div>
                <strong>{% trans "Entry Port:" %}</strong>
                <span>{{ object.entry_port }}</span>
            </div>
            <div>
                <strong>{% trans "Out Port:" %}</strong>
                <span>{{ object.out_port }}</span>
            </div>
            <div>
                <strong>{% trans "Entry Country Date:" %}</strong>
                <span>{{ object.entry_country_date }}</span>
            </div>
            <div>
                <strong>{% trans "Out Country Date:" %}</strong>
                <span>{{ object.out_country_date }}</span>
            </div>
        </div>
    </div>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#propuestas" role="tab" data-toggle="tab">Actividades propuestas</a></li>
        <li><a href="#gustan" role="tab" data-toggle="tab">Actividades que le gustan</a></li>
        <li><a href="#registrado" role="tab" data-toggle="tab">Actividades en las que esta registrado</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="propuestas">
            <div class="row">
                {% for speech in user.speechs.all %}
                    <div class="col-sm-4">
                        <div class="card-activity">
                            <h4>Título: <a
                                    href="{% url 'Forum_Detail' speech.topic.slug speech.slug %}">{{ speech.title }}</a>
                            </h4>
                            <h5>Estado:
                                {% if speech.published %}
                                    Aprovada</h5>
                                {% else %}
                                    Pendiente a revisión</h5>
                                {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="col-sm-12">
                        <h3 class="text-warning">Ninguna</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" id="gustan">
            <div class="row">
                {% for speech in user.profile.likes.all %}
                    <div class="col-sm-4">
                        <div class="card-activity">
                            <h4>Título: <a
                                    href="{% url 'Forum_Detail' speech.topic.slug speech.slug %}">{{ speech.title }}</a>
                            </h4>
                            <p class="date-activity"><span class="fa fa-user"></span>{{ speech.user.username }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-sm-12">
                        <h3 class="text-warning">Ninguna</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane" id="registrado">
            <div class="row">
                {% for speech in user.profile.matriculatedspeechs.all %}
                    <div class="col-sm-4">
                        <div class="card-activity">
                            <h4>Título: <a
                                    href="{% url 'Forum_Detail' speech.topic.slug speech.slug %}">{{ speech.title }}</a>
                            </h4>
                            <p class="date-activity"><span class="fa fa-user"></span>{{ speech.user.username }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-sm-12">
                        <h3 class="text-warning">Ninguna</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

