{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block content %}

    <h1 class="page-header">
        Actividades
        <a class="btn btn-primary pull-right" href="{% url 'Insert_Speech' topic.slug %}">Insertar Actividad</a>
    </h1>

    <div class="row foro-topic">
        {% for foo in topic_list %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'Forum_Detail' foo.topic.slug foo.slug %}">
                            <h3>{{ foo.title }}</h3>
                        </a>
                    </div>
                    <div class="content">
                        <p>{{ foo.description|truncatewords:"30" }}</p>
                        <p class="date-activity"><span class="fa fa-user"></span>{{ foo.user.username }}</p>
                        <p><div class="likes activity-{{ foo.pk }}"><span>{{ foo.cantidad_de_likes }} Likes</span></div></p>

                        {% if foo.user == user %}
                        {% elif foo in user.profile.likes.all %}
                            <a class="icon-animation like-button" data-pk="{{ foo.pk }}">
                                <span class="fa icon-like  fa-thumbs-up"></span>
                            </a>
                        {% else %}
                            <a class="icon-animation like-button" data-pk="{{ foo.pk }}">
                                <span class="fa icon-like  fa-thumbs-o-up"></span>
                            </a>
                        {% endif %}

                        {% if foo.user == user %}
                        {% elif foo in user.profile.matriculatedspeechs.all %}
                            <a class="matricula-link" data-pk="{{ foo.pk }}">
                                <span>Desmatricularme</span>
                            </a>
                        {% else %}
                            <a class="matricula-link" data-pk="{{ foo.pk }}">
                                <span>Matricularme</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not topic_list %}
            <div class="col-sm-12">
                <h3 class="text-warning">No hay actividades</h3>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var likes = 0;
        $('.like-button').click(function () {
            var id_speech = $(this).attr('data-pk');
            var element = $(this).find('.icon-like');
            if (!$(element[0]).hasClass('fa-thumbs-up')) {
                $(element[0]).addClass('animation-left');
                $.ajax({
                    url: '/ajax/add_like/',
                    type: "POST",
                    data: {'id_speech': id_speech},
                    success: function (response) {
                        console.log(response.messages);
                        likes = response.messages;
                        if(likes != 0) {
                            $('.activity-'+id_speech).find('span').remove();
                            $('.activity-'+id_speech).append('<span>'+ likes +'</span>');
                        }
                        setTimeout(function () {
                            $(element[0]).removeClass('fa-thumbs-o-up');
                            $(element[0]).addClass('fa-thumbs-up');
                            $(element[0]).addClass('animation-right');
                        }, 500);
                    }
                });
            }
        });


        $('.matricula-link').click(function () {
            var id_speech = $(this).attr('data-pk');
            var element = $(this).find('span');
            matricular(element[0],id_speech);
        });

        function matricular(element, id_speech) {
            var texto = $(element).text();
            if (texto == 'Matricularme') {
                $(element).removeClass('animation-right');
                $(element).addClass('animation-left');
                $.ajax({
                    url: '/ajax/enroll/',
                    type: "POST",
                    data: {'id_speech': id_speech},
                    success: function (response) {
                        setTimeout(function () {
                            $(element).text(texto == 'Matricularme' ? 'Desmatricularme' : 'Matricularme');
                            $(element).addClass('animation-right');
                            $(element).removeClass('animation-left');
                        }, 1000);
                    }
                });
            } else {
                desmatricular(element, id_speech);
            }
        }
        function desmatricular(element, id_speech) {
            var texto = $(element).text();
            if (texto == 'Desmatricularme') {
                $(element).removeClass('animation-right');
                $(element).addClass('animation-left');
                $.ajax({
                    url: '/ajax/delete_enroll/',
                    type: "POST",
                    data: {'id_speech': id_speech},
                    success: function (response) {
                        setTimeout(function () {
                            var texto = $(element).text();
                            $(element).text(texto == 'Matricularme' ? 'Desmatricularme' : 'Matricularme');
                            $(element).addClass('animation-right');
                            $(element).removeClass('animation-left');
                        }, 1000);
                    }
                });
            }
            else {
                matricular(id_speech);
            }
        }
    </script>
    <script src="{% static 'js/same-height.js' %}"></script>
{% endblock %}
