{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1 class="page-header">{{ speech_details.title }}</h1>

    <div class="row-field">
        <strong class="row-item">Usuario:</strong>
        <p class="row-item">{{ speech_details.user.username }}</p>
    </div>
    <div class="clearfix"></div>
    <div class="row-field">
        <strong class="row-item">Detalles:</strong>
        <p class="row-item">{{ speech_details.description }}</p>
    </div>
    <div class="clearfix"></div>
    <div class="row-field">
        <strong class="row-item">Tipo de Actividad:</strong>
        <p class="row-item">{{ speech_details.speech_type.name }}</p>
    </div>
    <div class="clearfix"></div>
    <div class="row-field">
        <strong class="row-item">Acerca del autor:</strong>
        <p class="row-item">{{ speech_details.speaker_information }}</p>
    </div>
    <div class="clearfix"></div>
    <div class="row-field">
        <strong class="row-item">Para:</strong>
        <p class="row-item">{{ speech_details.audience }}</p>
    </div>
    <div class="clearfix"></div>
    <div class="row-field">
        <strong class="row-item">Nivel del Autor:</strong>
        <p class="row-item">{{ speech_details.skill_level }}</p>
    </div>


    {% if speech_details.user == user %}
        <br>
        <h2>Recursos</h2>
        {% for archivo in speech_details.recursos.all %}
            <div class="row-field">
                <strong class="row-item">Archivo:</strong>
                <p class="row-item">{{ archivo.nombre}}</p>
            <a href="#" onclick="eliminarRecurso({{archivo.pk}})">eliminar</a>
            </div>
            <br>
        {% empty %}
            <p>No existen recursos para esta actividad</p>
        {% endfor %}
        <br>
        <a href="{% url 'subir_recurso' speech_details.pk %}" class="btn btn-success">Subir recurso</a>
   {% elif speech_details in user.profile.matriculatedspeechs.all %}
        <a class="matricula-link-detail" data-pk="{{ speech_details.pk}}">
            <span>Desmatricularme</span>
        </a>
   {% else %}
        <a class="matricula-link-detail" data-pk="{{ speech_details.pk}}">
            <span>Matricularme</span>
        </a>
    {% endif %}

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.matricula-link-detail').click(function () {
            var id_speech = $(this).attr('data-pk');
            var element = $(this).find('span');
            matricular(element[0],id_speech);
        });

        function matricular(element, id_speech) {
            var texto = $(element).text();
            if (texto == 'Matricularme') {
                $(element).removeClass('animation-right');
                $(element).addClass('animation-left');
                $.ajax({
                    url: '/ajax/enroll/',
                    type: "POST",
                    data: {'id_speech': id_speech},
                    success: function (response) {
                        setTimeout(function () {
                            $(element).text(texto == 'Matricularme' ? 'Desmatricularme' : 'Matricularme');
                            $(element).addClass('animation-right');
                            $(element).removeClass('animation-left');
                        }, 1000);
                    }
                });
            } else {
                desmatricular(element, id_speech);
            }
        }
        function desmatricular(element, id_speech) {
            var texto = $(element).text();
            if (texto == 'Desmatricularme') {
                $(element).removeClass('animation-right');
                $(element).addClass('animation-left');
                $.ajax({
                    url: '/ajax/delete_enroll/',
                    type: "POST",
                    data: {'id_speech': id_speech},
                    success: function (response) {
                        setTimeout(function () {
                            var texto = $(element).text();
                            $(element).text(texto == 'Matricularme' ? 'Desmatricularme' : 'Matricularme');
                            $(element).addClass('animation-right');
                            $(element).removeClass('animation-left');
                        }, 1000);
                    }
                });
            }
            else {
                matricular(id_speech);
            }
        }
        function eliminarRecurso(id_recurso) {
            $.ajax({
                url: '/ajax/delete_recurso/',
                type: "POST",
                data: {'id_recurso': id_recurso},
                success: function (response) {
                    location.reload();
                }
            });
        }

    </script>

{% endblock %}

