.login-page {
  margin-top: 15%;
  .login-content {
    .login-title {
      text-align: center;
    }
    .login-form, .login-extras {
      button {
        width: 100%;
      }
    }
    .login-extras {

    }
  }
}

.registrer-page {
  margin-top: 15%;
  .register-title {
    text-align: center;
  }
  .register-form {
    button {
      width: 100%;
    }
  }
}