@font-face {
  font-family: "ECSL";
  src: url("../fonts/ecsl.woff") format("woff");
}

.main-container {
  margin-top: 80px;
}

.login-page {
  .login-content {
    .login-title {
      text-align: center;
    }
    .login-form, .login-extras {
      .form-group {
        .input-group-addon {
          i {
            width: 10px;
          }
        }
      }
      button {
        width: 100%;
      }
    }
    .login-extras {

    }
  }
}

.registry-page {
  .register-title {
    text-align: center;
  }
  .form-group {
    .input-group-addon {
      i {
        width: 10px;
      }
    }
  }
  .registry-form {
    button {
      width: 100%;
    }
  }
  .btn-edit-profile {
    padding: 0px 35rem;
  }
}

.pass-change-form {
  button {
    width: 100%;
  }
}

.row-image {
  background: url('../img/row.png') repeat-x top center;
  height: 160px;
  padding: 0;
  margin-top: -85px;
  position: relative;
  z-index: 5;
}

.block-encuentro {
  text-transform: uppercase;
  .title {
    font-weight: bold !important;
    margin-bottom: 0 !important;
    font-size: 80px;
    font-family: monospace;
    line-height: 65px;
    @media screen and (max-width: 480px) {
      font-size: 65px;
    }
    @media screen and (max-width: 320px) {
      font-size: 55px;
    }
  }
  .title-2 {
    font-weight: bold !important;
    margin: 0 !important;
    font-size: 40px;
    @media screen and (max-width: 480px) {
      font-size: 31px;
    }
    @media screen and (max-width: 320px) {
      font-size: 25px;
    }
    &.letter-spacing-3 {
      letter-spacing: 3px;
    }
    &.letter-spacing-2 {
      letter-spacing: 2px;
    }
  }
  .title-anho {
    font-size: 50px;
    font-weight: bold !important;
    margin: 0 !important;
    @media screen and (max-width: 320px) {
      font-size: 35px;
    }
    span {
      position: relative;
      display: inline-block;
      &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 120px;
        height: 2px;
        background: #000;
        @media screen and (max-width: 480px) {
          width: 85px;
        }
        @media screen and (max-width: 320px) {
          width: 70px;
        }
      }
      &:before {
        right: 100%;
        margin-right: 18px;
      }
      &:after {
        left: 100%;
        margin-left: 18px;
      }
    }
  }
}

.block-actividades {
  padding-bottom: 7.5rem;
  padding-top: 4.5rem;
  background: -webkit-radial-gradient(68% 128%, 203% 245%, rgba(233, 33, 119, 0.31) 0, rgba(158, 31, 100, 0.55) 44%, rgba(243, 62, 51, 0.75) 65%, rgba(243, 62, 51, 0.79) 67%, rgba(243, 62, 51, 0.8) 100%);
  background: -moz-radial-gradient(68% 128%, 203% 245%, rgba(233, 33, 119, 0.31) 0, rgba(158, 31, 100, 0.55) 44%, rgba(243, 62, 51, 0.75) 65%, rgba(243, 62, 51, 0.79) 67%, rgba(243, 62, 51, 0.8) 100%);
  background: radial-gradient(68% 128%, 203% 245%, rgba(233, 33, 119, 0.31) 0, rgba(158, 31, 100, 0.55) 44%, rgba(243, 62, 51, 0.75) 65%, rgba(243, 62, 51, 0.79) 67%, rgba(243, 62, 51, 0.8) 100%);
  color: #fff;
  margin-top: 70px;
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
  }
  a {
    color: #fff;
    text-decoration: none !important;
  }
  img {
    max-width: 60px;
    margin-right: 15px;
  }
  .actividad-item {
    height: 55px;
  }
}

.block-paises {
  background: -webkit-linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: -moz-linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: -webkit-linear-gradient(105deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  background: -moz-linear-gradient(105deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  background: linear-gradient(-15deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  padding: 30px 30px 120px 30px;
  .title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .links-center-icon {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 160px;
    @media screen and (max-width: 480px) {
      height: 80px;
    }
    @media screen and (max-width: 320px) {
      height: 65px;
      top: 90px;
    }
  }
}

.pass-reset-page {
  .pass-reset-title {
    text-align: center;
  }
  .pass-reset-form {
    button {
      width: 100%;
    }
  }
}

#simple_profile, #medical_profile, #in_out_profile {
  margin-top: 1rem;
}

.btn-foro-add {
  margin-bottom: 1rem;
}

.date-activity {
  opacity: 0.5;
  span {
    margin-right: 10px;
    &.type-speech {
      border-left: 1px solid;
      padding-left: 5px;
    }
  }
}

.row-field {
  display: inline-block;
  margin-bottom: 5px;
  .row-item {
    display: inline;
  }
}

.icon-animation {
  overflow: hidden;
  display: inline-block;
  text-decoration: none !important;
  .icon-like {
    transition: .9s;
    &.animation-left {
      -webkit-transform: translate3d(-360px, 0, 0);
      -moz-transform: translate3d(-360px, 0, 0);
      transform: translate3d(-360px, 0, 0);
    }
    &.animation-right {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.matricula-link {
  display: inline-block;
  overflow: hidden;
  border-left: 1px solid;
  text-decoration: none !important;
  top: -8px;
  padding-left: 5px;
  margin-left: 5px;
  span {
    transition: .9s;
    display: inline-block;
    &.animation-left {
      -webkit-transform: translate3d(-180px, 0, 0);
      -moz-transform: translate3d(-180px, 0, 0);
      transform: translate3d(-180px, 0, 0);
    }
    &.animation-right {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.matricula-link-detail {
  cursor: pointer;
  display: inline-flex;;
  overflow: hidden;
  border-left: 1px solid;
  text-decoration: none !important;
  top: -8px;
  padding-left: 5px;
  margin-left: 5px;
  span {
    transition: .9s;
    display: inline-block;
    &.animation-left {
      -webkit-transform: translate3d(-180px, 0, 0);
      -moz-transform: translate3d(-180px, 0, 0);
      transform: translate3d(-180px, 0, 0);
    }
    &.animation-right {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.table {
  .cell-blue {
    background: $brand_blue;
    color: #fff;
    vertical-align: middle;
  }
  .agenda-hour {
    background: rgba(138, 186, 228, 0.63);
    margin: -8px -8px 5px;
    padding: 4px 10px;
    text-align: center;
  }
  .agenda-day {
    font-size: 40px;
  }
}

.like-button, .matricula-link {
  cursor: pointer;
  .agenda-day {
    font-size: 40px;
  }
}

.faq {
  .panel {
    .panel-heading {
      color: #fff;
      background-color: #38b94e;
      border-color: #38b94e;
      a {
        text-decoration: none !important;
      }
    }
    .panel-body {
      border-top-color: #38b94e !important;
    }
  }
}

.card-activity {
  background: rgba(221, 221, 221, 0.6);
  margin-top: 20px;
  padding: 20px;
}

.foro-topic, .foro-types, .foro {
  .col-sm-3 {
    margin-bottom: 8px;
  }
  .col-sm-4 {
    margin-bottom: 8px;
  }
}