.nav-main {
  background-color: rgba(253, 103, 79, 0.82);
  border-color: transparent !important;
  .navbar-nav {
    li {
      &.active {
        a {
          color: #fff !important;
          background-color: rgba(233, 33, 119, 0.46) !important;
        }
      }
      a {
        padding: 2rem;
        transition: 0.25s ease-in;
        color: #fff !important;
        text-transform: uppercase;
        font-weight: bold;
      }
      a:hover {
        color: #fff !important;
        background-color: rgba(233, 33, 119, 0.46) !important;
      }
    }
  }
}

.banner-ecsl {
  position: relative;
  .banner-opacity {
    background-color: rgba(103, 50, 50, 0.7);
    height: 635px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .image-background {
    background: url('../img/parque.jpg') center;
    background-size: 100%;
    background-position: 0 -15px;
    height: 635px;
  }
  .logo-img {
    position: absolute;
    top: 7em;
    width: 300px;
    left: calc(50% - 150px);
    .promo {
      text-decoration: none;
      color: #fff;
    }
    text-decoration: none;
  }
  .btn-register {
    position: absolute;
    left: calc(50% - 80px);
    bottom: 135px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    transition: .7s;
    background: rgba(29, 172, 228, 0.97);
    &:hover {
      background: rgba(29, 172, 228, 0.8);
    }
  }
}