//Buttons
.btn-primary {
  background-color: $brand_red;
  border-color: $brand_red;
  transition: .2s ease;
}

.btn-primary:hover {
  background-color: $brand_purple;
  border-color: $brand_purple;
}

body {
  font: normal normal normal 18px/1.4em ECSL, sans-serif;
}

.dropdown {
  &.open {
    .dropdown-menu {
      background-color: rgba(253, 103, 79, 0.82);
      border-color: transparent !important;
    }
  }
}

.nav {
  .open {
    a {
      &.dropdown-toggle {
        background-color: $brand_purple;
      }
    }
    > a:visited {
      &.dropdown-toggle {
        background-color: $brand_purple;
      }
    }
    > a:active {
      &.dropdown-toggle {
        background-color: $brand_purple;
      }
    }
    > a:focus {
      &.dropdown-toggle {
        background-color: $brand_purple;
      }
    }
    > a:active {
      &.dropdown-toggle {
        background-color: $brand_purple;
      }
    }
  }
}

.nav-tabs {
  background: $brand_red;
  border-bottom: none;
  li {
    margin-bottom: 0;
    a {
      color: #fff !important;
      border-radius: 0;
      transition: .5s;
      border: none !important;
      &:hover, &:focus {
        background: $brand_purple !important;
      }
    }
    &.active{
      a {
        background: $brand_purple;
      }
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        margin: 0 auto;
        position: absolute;
        z-index: 100;
        left: calc(50% - 7px);
        bottom: 0;
      }
    }
  }
}

.input-group-addon {
  background-color: #ffffff;
}

.btn-primary:focus, .btn-primary:active:focus, .btn-primary:active {
    color: #fff;
    background-color: $brand_purple;
    border-color: $brand_purple
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .header {
    margin: 15px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
    transition: 1s ease;
    a:hover {
      text-decoration: none;
    }
  }
  .content {
    padding: 15px;
  }
}

.card:hover {
  .header {
    border-bottom: 1px solid $brand_purple;
  }
}

.form-control {
  transition: .5s ease;
}

.form-control:focus {
  border-color: $brand_purple;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 33, 119, 0.6);
}