.block-paises {
  .view-paises {
    height: 500px;
    margin-top: 70px;
    position: relative;
    @media screen and (max-width: 480px) {
      height: 335px;
      margin-top: 0;
    }
    @media screen and (max-width: 320px) {
      height: 315px;
    }
    .views-row {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 55%;
      @media screen and (max-width: 480px) {
        height: 49%;
      }
      width: 90px;
      max-width: 18%;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-animation: spokeAnimation 200s infinite linear;
      animation: spokeAnimation 200s infinite linear;
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          -webkit-animation-delay: -28.571428571428573s * $i;
          animation-delay: -28.571428571428573s * $i;
          .views-field-field-imagen {
            -webkit-animation-delay: -28.571428571428573s * $i;
            animation-delay: -28.571428571428573s * $i;
          }
        }
      }
      .views-field-field-imagen {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        -webkit-animation: tileAnimation 200s infinite linear;
        animation: tileAnimation 200s infinite linear;
        .field-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-color: #fff;
          background-position: center;
          background-repeat: no-repeat;
          box-shadow: 0 .25rem .5rem rgba(50, 67, 92, 0.2), 0 0 0 1px rgba(161, 212, 226, 0.5);
        }
        .circle-item-text {
          position: absolute;
          top: calc(100% + 0.25rem);
          left: 0;
          right: 0;
          text-align: center;
          @media screen and (max-width: 320px) {
            display: none;
          }
        }
      }
      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 33%;
        top: 25%;
        width: 1px;
        margin: auto;
        background: -webkit-linear-gradient(bottom, #868f9e, rgba(134, 143, 158, 0));
        background: linear-gradient(to top, #868f9e, rgba(134, 143, 158, 0));
      }
    }
  }
}

@-webkit-keyframes spokeAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spokeAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes tileAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

@keyframes tileAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}

.row-blue {
  background: -webkit-linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: -moz-linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: linear-gradient(#f4fafb 0, #eff2f9 48%, #e2e6f5 100%);
  background: -webkit-linear-gradient(105deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  background: -moz-linear-gradient(105deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  background: linear-gradient(-15deg, #e2e6f4 20%, #eff2f9 40%, #fcfdff 60%, #f4fafb 80%);
  margin: 0 -30px 0 -30px;
  padding: 30px;
  height: 400px;
  overflow: hidden;

}