{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-sm-4 col-sm-offset-4">
        <div class="pass-change-form">
             <div class="pass-reset-content">
                <h1 class="pass-reset-title">{% trans "Cambiar contraseña" %}</h1>
                 <form method="post" action="">
                  {% csrf_token %}
                  {% bootstrap_form  form layout='inline' %}

                  <button class="btn btn-primary" type="submit" >{% trans 'Cambiar' %}</button>
                </form>
             </div>
        </div>
    </div>
{% endblock %}
