{% extends 'base.html' %}
{% load i18n %}



{% block content %}
    {% if object_list %}
        <h1 class="page-header">
            {% trans "Temas" %}
        </h1>
    {% endif %}
    <div class="row foro">
        {% for  foo in object_list %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="header">
                        <a href="{% url 'Forum_Topic' foo.slug %}">
                            <h3>{{ foo.name }}</h3>
                        </a>
                    </div>
                    <div class="content">
                        <p>{{ foo.description|truncatewords:"30" }}</p>
                        <p class="date-activity"><span class="fa fa-calendar"></span>{{ foo.date_created }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not object_list %}
            <div class="col-sm-12">
                <h3 class="text-warning">No existen aun temas que mostrar</h3>
                <br>
            </div>
        {% endif %}
    </div>
{% endblock %}
