{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% for type in foro_types %}

    Titulo del Curso:

        <a href="{% url 'Forum_Detail' type.topic.slug type.slug %}">{{ type.title }}</a>

    Usuario:

    <p>{{ type.user.username }}</p>
    {% if type.user == user %}
    {% elif type in user.profile.likes.all %}
        <p>Me encanta cuando te gusta</p>
    {% else %}
        <a href="#" onclick="like({{ type.pk }})">like</a>
    {% endif %}

    {% if type.user == user %}
   {% elif type in user.profile.matriculatedspeechs.all %}
   <a href="#" onclick="desmatricular({{ type.pk }})">Desmatricularme</a>
    {% else %}
     <a href="#" onclick="matricular({{ type.pk }})" >Matricularme</a>
    {% endif %}
    <br>
    Created:
    {{ type.date_created }}
    <a href="{% url 'Insert_Speech' type.topic.slug %}">Insertar Actividad</a>
    <br><br>


{% empty %}

    <h1>No hay actividades</h1>
{% endfor %}

<BR>
<BR>
<BR>
<BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
{% endblock %}





{% block script %}
<script type="text/javascript" >

function like (id_speech){
    $.ajax({
             url: '/ajax/add_like/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando de like
             }
    });
}

function matricular(id_speech){
        $.ajax({
             url: '/ajax/enroll/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
        });
    }
    function desmatricular(id_speech){
        $.ajax({
             url: '/ajax/delete_enroll/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
    });
    }


</script>
{% endblock %}