{% extends 'base.html' %}
{% load i18n %}



{% block content %}

            <br>
            <br>
            <br>
            <br>
    En el NavBar crear uuna lista despegable con acceso a los distintos
    tipos de actividades
    <h1>Actividades</h1>


{% for foo in pedro %}

    Titulo del Curso:

        <a href="{% url 'Forum_Detail' foo.topic.slug foo.slug %}">{{ foo.title }}</a>

    Usuario:

    <p>{{ foo.user.username }}</p>
    {% if foo.user == user %}
    {% elif foo in user.profile.likes.all %}
        <p>Me encanta cuando te gusta</p>
    {% else %}
        <a href="#" onclick="like({{ foo.pk }})">like</a>
    {% endif %}

    {% if foo.user == user %}
   {% elif foo in user.profile.matriculatedspeechs.all %}
   <a href="#" onclick="desmatricular({{ foo.pk }})">Desmatricularme</a>
    {% else %}
     <a href="#" onclick="matricular({{ foo.pk }})" >Matricularme</a>
    {% endif %}
    <br>
    Created:
    {{ foo.date_created }}



{% empty %}

    <h1>No hay actividades</h1>
{% endfor %}
    <a href="{% url 'Insert_Speech' topic.slug %}">Insert Speech</a>


    <a href="{% url 'Insert_Speech' topic.slug %}" hidden>Insert Speech</a>

<BR>
<BR>
<BR>
<BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
{% endblock %}

{% block script %}
<script type="text/javascript" >

function like (id_speech){
    $.ajax({
             url: '/ajax/add_like/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando de like
             }
    });
}

function matricular(id_speech){
        $.ajax({
             url: '/ajax/matricularse/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
        });
    }
    function desmatricular(id_speech){
        $.ajax({
             url: '/ajax/delete_matricula/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {
                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
    });
    }


</script>
{% endblock %}
