{% extends 'base.html' %}
{% load i18n %}



{% block content %}

            <br>
            <br>
            <br>
            <br>
    <h1>Actividades</h1>

    Titulo del Curso:
    {{ pedro.title }}
    <br>
    Usuario:
    {{ pedro.user.username }}
    <br>
    Detalles:
    {{ pedro.description }}
    <br>
    Tipo de Actividad:
    {{ pedro.speech_type.name }}
    <br>
    Acerca del autor:
    {{ pedro.speaker_information }}
    <br>
    Para:
    {{ pedro.audience }}
    <br>
    Nivel del Autor:
    {{ pedro.skill_level }}


   {% if pedro in user.profile.matriculatedspeechs.all %}
   <a href="#" onclick="desmatricular({{ pedro.pk }})">Desmatricularme</a>
    {% else %}
     <a href="#" onclick="matricular({{ pedro.pk }})">Matricularme</a>
    {% endif %}


<BR>
<BR>
<BR>
<BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
<BR><BR>
{% endblock %}

{% block script %}

    <script type="text/javascript">
    function matricular(id_speech){
        $.ajax({
             url: '/ajax/matricularse/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {

                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
        });
    }
    function desmatricular(id_speech){
        $.ajax({
             url: '/ajax/delete_matricula/',
             type: "POST",
             data: {'id_speech': id_speech},
             success: function (response) {

                 //Esto les toca a los frontend ver que van a hacer cuando se matricule el hombre Arreglar
             }
    });
    }

    </script>

{% endblock %}

