{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block banner %}
    <div class="banner-ecsl">
        <div class="image-background"></div>
        <div class="banner-opacity"></div>
        <a href="base.html" class="logo-img">
            <img src="{% static 'img/logo.png' %}" class="img-responsive">
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'New_Profile' %}" class="btn btn-lg btn-register">{% trans "Register" %}</a>
        {% endif %}
    </div>
    <div class="row-image"></div>
{% endblock %}

{% block content %}
    <div class="block-encuentro text-center">
        <h1 class="title">Encuentro</h1>
        <h2 class="title-2 letter-spacing-3">Centroamericano</h2>
        <h2 class="title-2 letter-spacing-2">de Software Libre</h2>
        <h2 class="title-anho"><span>2017</span></h2>
        <h2 class="title-2">Alajuela, Costa Rica</h2>
    </div>
{% endblock %}