{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row faq">
    <h1 class="page-header">Preguntas y Respuestas</h1>
        {% if faq_list %}
            <div class="panel-group" id="accordion">
                {% for faq in faq_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ forloop.counter }}">
                                    {{ faq.question }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-sm-12">
                <h3 class="text-warning">No existen preguntas.</h3>
                <br>
            </div>
        {% endif %}
    </div>
{% endblock %}
