{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% for foo in camisetas %}

    <img src="{{ foo.style.img1.url }}">
    <img src="{{ foo.style.img2.url }}">
    <img src="{{ foo.style.img3.url }}">
    <h1>{{ foo.size }}</h1>
    <h1>{{ foo.style.name }}</h1>
    {% empty %}
    <h1>No hay fotos subidas</h1>
{% endfor %}


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
