{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

    <h1 class="page-header">
        Camisetas
    </h1>

    <div class="row">


    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Pedidos</h4>
        </div>
        <div class="modal-body">
               {% csrf_token %}
        {% bootstrap_form form%}
        </div>
        <div class="modal-footer">
          <a class="btn btn-success cd-add-to-cart">Encargar</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
        {% for foo in camisetas %}
            <div class="col-sm-4">
                <div class="product-item">
                    <div class="make3D">
                        <div class="product-front">
                            <div class="shadow"></div>
                            <img src="{{ foo.img1.url }}" class="img-responsive">
                            <div class="image_overlay"></div>
                            <div class="view_gallery">Ver más</div>
                            <a data-toggle="modal" href="#modalCart" class="add_to_cart" data-idcart="{{ foo.pk }}" data-price="{{ foo.price }}" data-shirtname="{{ foo.name }}">Encargar</a>
                            <div class="stats">
                                <div class="stats-container">
                                    <span class="product_price">${{ foo.price }}</span>
                                    <span class="product_name">{{ foo.name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-back">
                            <div class="shadow"></div>

                            <div id="carousel-{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="{{ foo.img1.url }}" class="img-responsive">
                                    </div>
                                    <div class="item">
                                        <img src="{{ foo.img2.url }}" class="img-responsive">
                                    </div>
                                    <div class="item">
                                        <img src="{{ foo.img3.url }}" class="img-responsive">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="carouselPrev visible carousel-control" href="#carousel-{{ forloop.counter }}" role="button"
                                   data-slide="prev">
                                    <div class="y"></div>
                                    <div class="x"></div>
                                </a>
                                <a class="carouselNext visible carousel-control" href="#carousel-{{ forloop.counter }}" role="button"
                                   data-slide="next">
                                    <div class="y"></div>
                                    <div class="x"></div>
                                </a>
                            </div>
                            <div class="flip-back">
                            <div class="cy s1 s2 s3"></div>
                            <div class="cx s1 s2 s3"></div>
                        </div>
                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}

        {% if not camisetas %}
            <div class="col-sm-12">
                <h3 class="text-warning">No quedan camisetas</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/tshirt.js' %}"></script>
{% endblock %}