{% extends 'base.html' %}
{% load bootstrap3 %}



{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Listados de talleres creadas</h1>
<ul>
{% for talleres in object_list %}
    <p>Titulo:</p>
    <li><a href="{% url 'View_Table' talleres.pk %}">{{ talleres.topic.name}}</a></li>
    <p>Description:</p>
    {{ talleres.description }}
    <p>Por el usuario:</p>
    <li>{{ talleres.user.username}}</li>

{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
{% endblock %}
</body>
</html>