{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="alert {% ifequal estado "Analizando" %}alert-info{% endifequal %}
{% ifequal estado "Ha sido Aprobado" %}alert-success{% endifequal %}
{% ifequal estado "Denegado" %}alert-danger{% endifequal %}
">
    <i class="fa fa-info-circle"></i> {{ estado }}
    </div>
    {% if form %}
        {% load bootstrap3 %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
        </form>


    {% endif %}
{% endblock %}
